body{
    background-color:#EEEEEE;
    margin:0;
    padding:0;
    font-family: "Roboto", "Noto Sans", sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

input{
    font-family: "Roboto", "Noto Sans", sans-serif;
    font-size: 16px;
    padding-left:8px;
    height: 40px;
    min-width: 240px;
    margin: 8px;
}
button{
    font-size:16px;
    font-family:"Roboto", "Noto Sans", sans-serif;
    border:none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .8), 0 4px 6px 0 rgba(0, 0, 0, .6); /*taken from w3 page on shadows */
    background-color:#FAD312;
    color: black; 
    height:40px;
    min-width: 40px;
    margin:0 16px 0 8px;
}

button:hover{
    cursor: pointer;
}

button:active{
    outline:none;
    border:none;
}

button:focus{
    outline:0;
}

a:active{
    outline:none;
    border:none;
}

a:focus{
    outline:0;
}

select{
    font-size:16px;
    font-family:"Roboto", "Noto Sans", sans-serif;
    border:none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .8), 0 4px 6px 0 rgba(0, 0, 0, .6); /*taken from w3 page on shadows */
    background-color:#FAD312;
    color: black; 
    height:40px;
    min-width:80px;
    margin:0 16px 0 8px;
    text-align: center;
}

select:active{
    outline:none;
    border:none;
}

select:focus{
    outline:0;
}

div{  
}

ul {/* taken from w3 schools example on navbars */
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

#active {
    background-color:#8C0D24;
    border-bottom: 1px solid black;
}

.adjust_rank{
    margin-right:0;
    margin-left:8px;
}

.menu_tray_icon {
    display:none !important;
}

li.menu_left {
    float:left;
}

li.menu_right {
    float:right;
}
li.menu_left.far_left{
    margin-left: 40px;
}

li.menu_right.far_right{
    margin-right: 24px;
}

.right_side_menu{
    float:right;
    margin-right: 16px;
}

a {
    color:white;
    text-decoration: none;
}

.navbar{
    top:0;
    position:fixed;
    z-index: 1;
    width:100%;
    background-color: #AF102C;
    height:48px; 
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5), 0 8px 12px 0 rgba(0, 0, 0, .3);
    border-bottom:1px solid black;
}
.position_holder{
    height:64px;
}

a.nav_item {
    height:28px; 
    display:block;
    padding-top:12px;
    padding-left:22px;
    margin: 4px 24px 4px 0;
}

a.nav_item.off_screen{
    margin: 0 24px 4px 0;
}

.vmi{
    font-family: "Playfair Display SC", serif;
    font-size:64px;
    font-weight:bold;
    text-align:center;
    margin-top:16px;
    margin-bottom:32px;
}

.club{
    margin-top:32px;
    font-size: 48px;
    text-align: center;
}

.cadet_info{
    border:1px solid black;
    position:relative;
    margin-top:24px;
    padding-top:12px;
    height:52px;
}

.card{
    max-width: 1200px;
    margin:auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .8), 0 4px 6px 0 rgba(0, 0, 0, .6); /*taken from w3 page on shadows */
}

.cadet_info.view{
    height:48px;
    padding-left:16px;
    padding-top:16px;
}

.cadet_info.card{
    background-color:#AF102C; 
    margin-top:16px;
    padding:0;
    padding-bottom:4px;  
}

#confirm_check_in{
    text-align: center;
    font-weight:bold;
    margin-top: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #FFFFFF;
    color:#009900;
}
.stripes_bar{
    position:absolute;
    top:0;
    right:10%;
    background-color: #000000;
    height:65px;
    width: 20%;
}

.stripe{    
    position:absolute;
    border:none;
    background-color: #FFFFFF;
    width:8%;
    height:64px;
    visibility:hidden;
}

.stripe.first_stripe{
    left:20%;
}
.stripe.num1.first_stripe, .stripe.num2.first_stripe, .stripe.num3.first_stripe, .stripe.num4.first_stripe{
    visibility:visible;
}

.stripe.second_stripe{
    left:40%;
}

.stripe.num2.second_stripe, .stripe.num3.second_stripe, .stripe.num4.second_stripe{
    visibility:visible;
}

.stripe.third_stripe{
    left:60%;
}

.stripe.num3.third_stripe, .stripe.num4.third_stripe{
    visibility: visible;
}

.stripe.fourth_stripe{
    left:80%;
}

.stripe.num4.fourth_stripe{
    visibility: visible;
}

.checkin{
    font-size:24px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .8), 0 8px 12px 0 rgba(0, 0, 0, .6); /*taken from w3 page on shadows */
    font-weight:bold;
    border:none;
    border-radius:50%;
    width:40px;
    -webkit-transition: box-shadow .2s;
    transition: box-shadow .2s; 
}

.checkin:active{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .7), 0 12px 20px 0 rgba(0, 0, 0, .5);
}

.progress_bar{
    background-color: #FFFFFF;
    position: relative;
    height: 24px;
    border:solid black;
    border-width:2 1px 1px 1px;
}

.ready_to_test{
    position:absolute;
    background-color: #FAD312;
    text-align:center;
    font-weight: bold;
    width:100%;
    visibility:hidden;
    padding-top:4px;
    height:20px;
}

.ready_to_test.stripe4{
    visibility:visible;
}

.progress_fill{
    position:absolute;
    font-weight:bold;
    text-align:center;
    background-color:#FAD312;
    padding-top:4px;
    height:20px;
}
#white{
    background-color:#FFFFFF;
}

#blue{
    background-color:#3e70c1;
}

#purple{
    background-color:#7755aa;
}
#brown{
    background-color:#c1723e;
}

.verify{
    max-width:1200px;
    padding-top: 24px;
    padding-bottom:24px;
    margin:auto;
    margin-top:24px;
    text-align:center;
}

.important{
    font-size:24px;
    font-weight: bold;
}

.off_screen_nav{
    border-right:1px solid black;
    z-index: 3;
    margin-right:0;
    background-color:#AF102C;
    width:300px;
    height:100%;
    position:absolute;
    transform: translate(-300px, 0);
    transition: transform 0.3s ease;       
    }

.off_screen_nav.open{
        box-shadow: 200px 0 100px rgba(0, 0, 0, .8); 
        transform: translate(0,0);
    }

@media screen and (max-width:550px){
    
    .menu_tray_icon{
        display:inline !important;
    }
    
    .menu_left{
        display:none;
    }

    html, body {
        height: 100%;
        width: 100%;
    }

    .hidden_menu_left{
        width: 300px;
        border-bottom:1px solid black;
    }
}