{% extends "layout.html" %}
{% set active_page = "add" %}

{% block title %}
    Add Cadet
{% endblock %}

{% block main %}
    <!-- form accepts input of new cadet to roster -->
    <div class="cadet_info card">
        <form action="{{ url_for('add') }}" onsubmit="return handlers.addCadetValidation('first','last')" method="post" style="margin:0;">
            <input type="text" name="first" placeholder="first name" class="text_field"/>
            <input type="text" name="last" placeholder="last name" class="text_field"/>
            <button type="submit">add cadet</button> 
        </form>
    </div>
    <div id="confirm_check_in" class="card"><p>{{ confirm }}</p></div>
    {% for cadet in cadets %}
        <!-- for every cadet in db display their name, rank, progress bar and a button for them to check in -->
        <div class="card">
            <!-- displays name off of belt if display is small -->
            <div class="name_display_mobile">
                {{ cadet.last_name.capitalize() }},  {{ cadet.first_name.capitalize() }}
            </div>
            <div class="cadet_info" id="{{ cadet.rank }}">
                <a href="/check_in/{{cadet.first_name}},{{cadet.last_name}}"/><button class="checkin belt_button">+</button></a>
                <span class="important belt_names">{{ cadet.last_name.capitalize() }},  {{ cadet.first_name.capitalize() }}</span>
                <div class="stripes_bar">
                    <div class="stripe num{% if cadet.attendance_current_rank > 99 %}4{% else %}{{ ((cadet.attendance_current_rank-(cadet.attendance_current_rank%25))/25)|int }}{% endif %} first_stripe">
                    </div>
                    <div class="stripe num{% if cadet.attendance_current_rank > 99 %}4{% else %}{{ ((cadet.attendance_current_rank-(cadet.attendance_current_rank%25))/25)|int }}{% endif %} second_stripe">
                    </div>
                    <div class="stripe num{% if cadet.attendance_current_rank > 99 %}4{% else %}{{ ((cadet.attendance_current_rank-(cadet.attendance_current_rank%25))/25)|int }}{% endif %} third_stripe">
                    </div>
                    <div class="stripe num{% if cadet.attendance_current_rank > 99 %}4{% else %}{{ ((cadet.attendance_current_rank-(cadet.attendance_current_rank%25))/25)|int }}{% endif %} fourth_stripe">
                    </div>
                </div>
            </div>
            <div class="progress_bar">
                <div class="progress_fill" style="width: {{ ((cadet.attendance_current_rank % 25)/25)*100|round(1) }}%">
                    {{ cadet.attendance_current_rank % 25 }}/25
                </div>
                <div class="ready_to_test stripe{% if cadet.attendance_current_rank > 99 %}4{% else %}{{ ((cadet.attendance_current_rank-(cadet.attendance_current_rank%25))/25)|int }}{% endif %}">
                    Begin preparing for your test
                </div>
            </div>
        </div>
    {% endfor %}
    <script>
        window.onload = view.hideEmptyCard("confirm_check_in")
    </script>

{% endblock %}