{% extends "layout.html" %}
{% set active_page = "edit" %}

{% block title %}
    Remove Cadet From Roster
{% endblock %}

{% block main %}
    <!-- display cadet and double check that the user would like to remove them -->
    <div class="verify card">
        <p class="important">
        Remove {{ first.capitalize() }} {{ last.capitalize() }}?
        </p>
        <form style="display:inline;"action="url_for('delete',first=None,last=None)" method="post">
            <input type="hidden" name=first value="{{ first }}">
            <input type="hidden" name=last value="{{ last }}">        
            <button style="width:48px;" type="submit">Yes</button>
        </form>
            <a href="/edit"><button>Return to roster</button></a>
    </div>
{% endblock %}