{% extends "layout.html" %}

{% block title %}
    Remove Cadet From Roster
{% endblock %}

{% block main %}

    <p>
    Remove {{ first.capitalize() }} {{ last.capitalize() }}?
    </p>
    <form action="url_for('delete',first=None,last=None)" method="post">
        <input type="hidden" name=first value="{{ first }}">
        <input type="hidden" name=last value="{{ last }}">        
        <button type="submit">Yes</button>
    </form>
        <a href="/edit"><button>Return to roster</button></a>

{% endblock %}