{% extends "layout.html" %}

{% block title %}
    Edit Roster
{% endblock %}

{% block main %}

    {% for cadet in cadets %}
        <div class="cadet_info">
        {{ cadet.last_name.capitalize() }}</a>  {{ cadet.first_name.capitalize() }}  {{ cadet.attendance_current_rank }} {{ cadet.time }}
        <a href="/adjust_rank/{{cadet.first_name}},{{cadet.last_name}}"/><button class="btn">Adjust rank</button></a>
        <a href="/delete/{{cadet.first_name}},{{cadet.last_name}}"/><button class="btn">Delete</button></a>
        </div>
    {% endfor %}

{% endblock %}