<!DOCTYPE html>
<html>
    <head>
        <title>vmi bjj roster</title>
    </head>
    <body>
        <p>
        {% for cadet in cadets %}
            <p>
            {{ cadet.last_name }}  {{ cadet.first_name }}  {{ cadet.attendance_current_rank }} {{ cadet.time }}
            </p>
        {% endfor %}
        </p>
        <form action="{{ url_for('index')}}" method="post">
            <input type="text" name="first" placeholder="first name">
            <input type="text" name="last" placeholder="last name">
            <button type="submit">add new participant</button> 
    <body>
</html>