<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/styles.css') }}" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC|Roboto" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <title>
            VMI: {% block title %}{% endblock %}
        </title>
    </head>
    <!-- allows the nav bar to highlight the currently active page on the nav bar -->
    <body>
        {% set navigation_bar_loggedin_left = [
            ('/', 'index', 'Home'),
            ('/add', 'add', 'Take attendance'),
            ('/edit/', 'edit', 'Edit roster')
            ] -%}
        {% set navigation_bar_loggedin_right = [
            ('/logout/', 'logout', 'Logout')
            ] -%}
        {% set navigation_bar_loggedout_left = [
            ('/', 'index', 'Home'),
            ('/view/', 'view', 'View roster'),
            ] -%}
        {% set navigation_bar_loggedout_right = [
            ('/login/', 'login', 'Login')
            ] -%}
        {% set active_page = active_page|default('index') -%}
        <!-- nav bar display is based on whether or not the user is logged in -->
        <div class="off_screen_nav">
             <ul>
                {% if session.user_id %}
                    {% for href, id, caption in navigation_bar_loggedin_left %}
                        <li{% if id == active_page %} id = "active"{% endif
                        %} class="hidden_menu_left"><a class="nav_item off_screen" href="{{ url_for(id) }}">{{ caption|e }}</a></li>
                    {% endfor %}
                    {% else %}

                    {% for href, id, caption in navigation_bar_loggedout_left %}
                        <li{% if id == active_page %} id="active"{% endif
                        %} class="hidden_menu_left"><a class="nav_item off_screen" href="{{ url_for(id) }}">{{ caption|e }}</a></li>
                    {% endfor %}
                {% endif %}
                </ul>
        </div>
        <div class="position_holder">
        </div>
        <div class="navbar">
            <i class="menu_tray_icon material-icons" style="color:white; font-size:48px; margin-left:24px;"onclick="handlers.expandMenuTray();">menu</i>
            {% if session.user_id %}
                <ul>
                {% for href, id, caption in navigation_bar_loggedin_left %}
                    <li{% if id == active_page %} id = "active"{% endif
                    %} class="menu_left"><a class="nav_item" href="{{ url_for(id) }}">{{ caption|e }}</a></li>
                {% endfor %}
                </ul>
                <ul class="right_side_menu">
                {% for href, id, caption in navigation_bar_loggedin_right %}
                    <li{% if id == active_page %} id = "active"{% endif
                    %} class="menu_right"><a class="nav_item" href="{{ url_for(id) }}">{{ caption|e }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <ul>
                {% for href, id, caption in navigation_bar_loggedout_left %}
                    <li{% if id == active_page %} id="active"{% endif
                    %} class="menu_left"><a class="nav_item" href="{{ url_for(id) }}">{{ caption|e }}</a></li>
                {% endfor %}
                </ul>
                <ul class="right_side_menu">
                {% for href, id, caption in navigation_bar_loggedout_right %}
                    <li{% if id == active_page %} id="active"{% endif
                    %} class="menu_right"><a class="nav_item" href="{{ url_for(id) }}">{{ caption|e }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div onclick="handlers.closeMenuTray();">
            {% block main %}{% endblock %}    
        </div>
    <body>
</html>