<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/styles.css') }}" rel="stylesheet" />
        <title>
            VMI: {% block title %}{% endblock %}
        </title>
    </head>
    <body>
        <div class="position_holder">
        </div>
        <div class="navbar">
            <ul>
                {% if session.user_id %}
                <li class="menu_left far_left"><a class="nav_item" href="{{ url_for('index') }}">Home</a>
                <li class="menu_left"><a class="nav_item" href="{{ url_for('add') }}">Take Attendance</a>
                <li class="menu_left"><a class="nav_item" href="{{ url_for('view') }}"> View Roster </a>
                <li class="menu_left"><a class="nav_item" href="{{ url_for('edit') }}"> Edit Roster </a>
                <li class="menu_right far_right"><a class="log" href="{{ url_for('logout') }}"> Logout </a>
                {% else %}
                <li class="menu_left far_left"><a class="nav_item" href="{{ url_for('index') }}">Home</a>
                <li class="menu_left"><a class="nav_item" href="{{ url_for('view') }}"> View Roster </a>
                <li class="menu_right far_right"><a class="log" href="{{ url_for('login') }}">Login</a>
                {% endif %}
            </ul>
        </div>
        <div>
            {% block main %}{% endblock %}    
        </div>
    <body>
</html>